<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <title>Forms</title>
</head>
<body>
    <form id="regForm" action="">

       <div id="app" class="container">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label><p>Оберіть регіон <span title="Це поле є обов'язковим">*</span> :</p></label>
                        <select class="form-control" v-model="selected.list1" id="changeRegion">
                            <option v-for="option in list1" :value="option.id" v-text="option.Title" />
                        </select>
                    </div>
                    <div class="form-group">
                        <label><p>Оберіть район:</p></label>
                        <select class="form-control" v-model="selected.list2" id="regions" onchange="notActive()">
                            <option v-for="option in list2Select" :value="option.id" v-text="option.Title"/>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="streetInRegion"><p>Оберіть вулицю:</p> 
            <label for="streetInRegion" ></label>
            <input name="streetInRegion" type="text" id="streetInRegion"  list="street"  placeholder="Почніть вводити назву або оберіть із випадаючого списку" required disabled onchange="notActive()"/>
            <datalist id="street">
                <option value="«Енергоспецрем.»" ></option>
                <option value="12 Квітня" ></option>
                <option value="1905 року" ></option>
                <option value="23 Лютого" ></option>
                <option value="3-ої п’ятирічки" ></option>
                <option value="30 Грудня" ></option>
                <option value="30 років Жовтня" ></option>
                <option value="30 років Перемоги" ></option>
                <option value="40 років Жовтня" ></option>
                <option value="40 років Перемоги" ></option>
                <option value="50 років жовтня" ></option>
                <option value="60 років ВЛКСМ" ></option>
                <option value="8 Березня" ></option>
                <option value="9 Травня" ></option>
                <option value="Абразивна" ></option>
                <option value="Абрикосова" ></option>
                <option value="Авраменко" ></option>
                <option value="Автодорожна" ></option>
                <option value="Автозаводська" ></option>
                <option value="Автомобілістів" ></option>
                <option value="Авторемзавод" ></option>
                <option value="Автострадна" ></option>
                <option value="Ад.Лазаря" ></option>
                <option value="Аджарська" ></option>
                <option value="Азовська" ></option>
                <option value="Айвазовського" ></option>
                <option value="Ак.Амосова" ></option>
                <option value="Ак.Макарова" ></option>
                <option value="Ак.Олександрова" ></option>
                <option value="Актюбінська" ></option>
                <option value="Алапаєвська" ></option>
                <option value="Алма-Атинська" ></option>
                <option value="Алмазна" ></option>
                <option value="Алюмінієва" ></option>
                <option value="Аматорська" ></option>
                <option value="Анапська" ></option>
                <option value="Ангарна" ></option>
                <option value="Антенна" ></option>
                <option value="Арочна" ></option>
                <option value="Архангельский" ></option>
                <option value="Астраханська" ></option>
                <option value="Б. Гвардійський" ></option>
                <option value="Б. Центральний" ></option>
                <option value="Б. Шевченко" ></option>
                <option value="Б.Гвардійський" ></option>
                <option value="Б.Хмельницького" ></option>
                <option value="Б.Центральний" ></option>
                <option value="Б/в Зоря; Тракторна бригада" ></option>
                <option value="Бабушкіна" ></option>
                <option value="Базова" ></option>
                <option value="Бакінський" ></option>
                <option value="Балка Поповка" ></option>
                <option value="Балтійська" ></option>
                <option value="Банківська" ></option>
                <option value="Батайська" ></option>
                <option value="Батарейна" ></option>
                <option value="Бегенова" ></option>
                <option value="Безіменна" ></option>
                <option value="Белінського" ></option>
                <option value="Берегова" ></option>
                <option value="Березовий" ></option>
                <option value="Бетонна" ></option>
                <option value="Бирюзова" ></option>
                <option value="Білорусьська" ></option>
                <option value="Богдана Завади" ></option>
                <option value="Бодянського" ></option>
                <option value="Бориса Гринченка" ></option>
                <option value="Бородинська" ></option>
                <option value="Бочарова" ></option>
                <option value="Братська" ></option>
                <option value="Бригадний" ></option>
                <option value="Бронева" ></option>
                <option value="Брюлова" ></option>
                <option value="Брянська" ></option>
                <option value="Будівельна" ></option>
                <option value="Будівельників" ></option>
                <option value="Будівників" ></option>
                <option value="Бурденко" ></option>
                <option value="В.Стуса" ></option>
                <option value="Вавилова" ></option>
                <option value="Вапняна" ></option>
                <option value="Ватутіна" ></option>
                <option value="Вахтенна" ></option>
                <option value="Великого" ></option>
                <option value="Вербова" ></option>
                <option value="Верхня" ></option>
                <option value="Верхоянська" ></option>
                <option value="Весела" ></option>
                <option value="Веселкова" ></option>
                <option value="Весняна" ></option>
                <option value="Визволення" ></option>
                <option value="Виноградна" ></option>
                <option value="Випробувачів" ></option>
                <option value="Високовольтна" ></option>
                <option value="Вишнева" ></option>
                <option value="Вишнева- Симфонічна" ></option>
                <option value="Відмінна" ></option>
                <option value="Військбуд" ></option>
                <option value="Віктора Духовченка" ></option>
                <option value="Вільна" ></option>
                <option value="Вільнянська" ></option>
                <option value="Вітряна" ></option>
                <option value="Вогнетривна" ></option>
                <option value="Водограйна" ></option>
                <option value="Водяна" ></option>
                <option value="Волинська" ></option>
                <option value="Волі" ></option>
                <option value="Володарська" ></option>
                <option value="Волоколамська" ></option>
                <option value="Волошина" ></option>
                <option value="Вороніна" ></option>
                <option value="Врацлавська" ></option>
                <option value="Врожайна" ></option>
                <option value="Вчительска" ></option>
                <option value="Вчительська" ></option>
                <option value="Гагаріна" ></option>
                <option value="Гастело" ></option>
                <option value="Гвардійська" ></option>
                <option value="Гвардійський" ></option>
                <option value="Героїв" ></option>
                <option value="Герцена" ></option>
                <option value="Гетманська" ></option>
                <option value="Гірна" ></option>
                <option value="Гладкова" ></option>
                <option value="Глісерна" ></option>
                <option value="Гнаровской" ></option>
                <option value="Гнаровська" ></option>
                <option value="Гоголя" ></option>
                <option value="Голяткина" ></option>
                <option value="Гончарова" ></option>
                <option value="Горького" ></option>
                <option value="Грабовського" ></option>
                <option value="Гражданська" ></option>
                <option value="Гранітна" ></option>
                <option value="Гризодубової" ></option>
                <option value="Гриценка" ></option>
                <option value="Громовой" ></option>
                <option value="Грушевського" ></option>
                <option value="Грязнова" ></option>
                <option value="Гудименко" ></option>
                <option value="Дальньосхідна" ></option>
                <option value="Двинська" ></option>
                <option value="Делегатська" ></option>
                <option value="Демократична" ></option>
                <option value="Деповська" ></option>
                <option value="Дєгтярьова" ></option>
                <option value="Джамбула" ></option>
                <option value="Дивізіона" ></option>
                <option value="Дивногорська" ></option>
                <option value="Димитрова" ></option>
                <option value="Діагональна" ></option>
                <option value="Діріжабельна" ></option>
                <option value="Дніпробудівельників" ></option>
                <option value="Дніпровська" ></option>
                <option value="Дніпровське Шосе" ></option>
                <option value="Дніпровські пороги" ></option>
                <option value="Доблесна" ></option>
                <option value="Добролюбова" ></option>
                <option value="Доватора" ></option>
                <option value="Докучаєва" ></option>
                <option value="Долина" ></option>
                <option value="Донецька" ></option>
                <option value="Донська" ></option>
                <option value="Дорошенко" ></option>
                <option value="Досягнення" ></option>
                <option value="Дружби" ></option>
                <option value="Дружний" ></option>
                <option value="Дружня" ></option>
                <option value="Дубова" ></option>
                <option value="Дунайська" ></option>
                <option value="Дундича" ></option>
                <option value="Експресівська" ></option>
                <option value="Елеваторна" ></option>
                <option value="Енергетиків" ></option>
                <option value="Ентузіастів" ></option>
                <option value="Ентузiастiв" ></option>
                <option value="Епронівська" ></option>
                <option value="Єднання" ></option>
                <option value="Єйска-Магістральна" ></option>
                <option value="житловий сектор" ></option>
                <option value="Жовтнева" ></option>
                <option value="Жуковського" ></option>
                <option value="З.Космодем'янської" ></option>
                <option value="З'єднання України" ></option>
                <option value="Заводська" ></option>
                <option value="Загірська" ></option>
                <option value="Задніпровська" ></option>
                <option value="Закарпатська" ></option>
                <option value="Залізнична" ></option>
                <option value="Замкнута" ></option>
                <option value="Заозерна" ></option>
                <option value="Зап.обл.госпіт. ВВВ" ></option>
                <option value="Запоріжсталевська" ></option>
                <option value="Запорізька" ></option>
                <option value="Запорізька/Поштова" ></option>
                <option value="Зарічна" ></option>
                <option value="Західна" ></option>
                <option value="Зачиняева, Будівельників" ></option>
                <option value="Зачіняєва" ></option>
                <option value="Звенігородська" ></option>
                <option value="Зелена" ></option>
                <option value="Зелена дубрава" ></option>
                <option value="Зеленогірська" ></option>
                <option value="Зеленодільська" ></option>
                <option value="Зернова" ></option>
                <option value="Зестафонська" ></option>
                <option value="Зимова" ></option>
                <option value="Знаменська" ></option>
                <option value="Зорепадна" ></option>
                <option value="Зустрічний" ></option>
                <option value="І.Клевчука" ></option>
                <option value="Івана Гутника- Залужного" ></option>
                <option value="Івана Мейлуса" ></option>
                <option value="Івана Сірко" ></option>
                <option value="Іванівська" ></option>
                <option value="Ігоря Сикорського" ></option>
                <option value="Ігоря Сікорського" ></option>
                <option value="Інж Преображенського" ></option>
                <option value="Інж Веденеєва" ></option>
                <option value="Інструментальна" ></option>
                <option value="Інтернаціоналістів" ></option>
                <option value="Іскри" ></option>
                <option value="Істоміна" ></option>
                <option value="Історична" ></option>
                <option value="К Великого" ></option>
                <option value="Кабардинська" ></option>
                <option value="Казача" ></option>
                <option value="Казкова" ></option>
                <option value="Каліброва" ></option>
                <option value="Калініна" ></option>
                <option value="Калнишевського" ></option>
                <option value="Кам'яна" ></option>
                <option value="Каменська" ></option>
                <option value="Камська" ></option>
                <option value="Камчатський" ></option>
                <option value="Камянотерсянська" ></option>
                <option value="Канарєєва" ></option>
                <option value="Карбишева" ></option>
                <option value="Кармелюка" ></option>
                <option value="Карпінського" ></option>
                <option value="Каспійська" ></option>
                <option value="Качалова" ></option>
                <option value="Квіткова" ></option>
                <option value="Київська" ></option>
                <option value="Кірова" ></option>
                <option value="Кіровоградська" ></option>
                <option value="Княжий" ></option>
                <option value="Кобзарська" ></option>
                <option value="Ковальна" ></option>
                <option value="Ковпака" ></option>
                <option value="Козака Бабури" ></option>
                <option value="Козацька" ></option>
                <option value="Козацьких Гетьманів" ></option>
                <option value="Колгоспна" ></option>
                <option value="Компресорна" ></option>
                <option value="Комсомолу" ></option>
                <option value="Комсомольська" ></option>
                <option value="Комунарівська" ></option>
                <option value="Кооперативна" ></option>
                <option value="Копенкина" ></option>
                <option value="Копенкина/Омельченко" ></option>
                <option value="Корнєєва" ></option>
                <option value="Корольова" ></option>
                <option value="Космічна" ></option>
                <option value="Котляревського" ></option>
                <option value="Кочубея" ></option>
                <option value="Кошевого" ></option>
                <option value="Краматорська" ></option>
                <option value="Красна" ></option>
                <option value="Крейсерна" ></option>
                <option value="Криворіжська" ></option>
                <option value="Крилова" ></option>
                <option value="Кринична" ></option>
                <option value="Кругова" ></option>
                <option value="Крупскої" ></option>
                <option value="Крутоярівська" ></option>
                <option value="Куйбишева" ></option>
                <option value="Кургана" ></option>
                <option value="Курортна" ></option>
                <option value="Курузова" ></option>
                <option value="Курчатова" ></option>
                <option value="Кутузова" ></option>
                <option value="Л. Чайкіної" ></option>
                <option value="Л.Українки" ></option>
                <option value="Лазурна" ></option>
                <option value="Лассаля" ></option>
                <option value="Латвійська" ></option>
                <option value="Лейтінантська" ></option>
                <option value="Леніна" ></option>
                <option value="Леонтовича" ></option>
                <option value="Лермонтова" ></option>
                <option value="Лесі Українки" ></option>
                <option value="Лижна" ></option>
                <option value="Липовецька" ></option>
                <option value="Лікарняна" ></option>
                <option value="Лікарська" ></option>
                <option value="Лісна" ></option>
                <option value="Лісова" ></option>
                <option value="Літня" ></option>
                <option value="Логінова" ></option>
                <option value="Ломоносова" ></option>
                <option value="Луганська" ></option>
                <option value="Лугова" ></option>
                <option value="М.Вовчок" ></option>
                <option value="М.Судца" ></option>
                <option value="М.Чуйкова" ></option>
                <option value="Магістральна" ></option>
                <option value="Макухи" ></option>
                <option value="Малинова" ></option>
                <option value="Маліка" ></option>
                <option value="Счастлива" ></option>
                <option value="Матросова" ></option>
                <option value="Махова" ></option>
                <option value="Маяковського" ></option>
                <option value="Медична" ></option>
                <option value="Межева" ></option>
                <option value="Мельнічна" ></option>
                <option value="Металістів" ></option>
                <option value="Металургів" ></option>
                <option value="Метрополітенів" ></option>
                <option value="Миколи Ласточкіна" ></option>
                <option value="Миргородська" ></option>
                <option value="Миру" ></option>
                <option value="Михайла Грушевського" ></option>
                <option value="Мінська" ></option>
                <option value="Міська" ></option>
                <option value="Міцна" ></option>
                <option value="Мічуріна" ></option>
                <option value="Мокро-Московська" ></option>
                <option value="Мокрянська" ></option>
                <option value="Молодіжна" ></option>
                <option value="Молодогвардійська" ></option>
                <option value="Молочна" ></option>
                <option value="Морфлотська" ></option>
                <option value="Москворецька" ></option>
                <option value="Московська" ></option>
                <option value="Мостова" ></option>
                <option value="Моторобудівельників" ></option>
                <option value="Мохова" ></option>
                <option value="МСЗ  "Мотор Січ"" ></option>
                <option value="Н. Данченко" ></option>
                <option value="Н.Дніпровська" ></option>
                <option value="Набережна" ></option>
                <option value="Нагнібеди" ></option>
                <option value="Нагорна" ></option>
                <option value="Наталівська" ></option>
                <option value="Нахимова" ></option>
                <option value="Незалежної України" ></option>
                <option value="Незалежності" ></option>
                <option value="Некрасова" ></option>
                <option value="Нижня" ></option>
                <option value="Нібуровська" ></option>
                <option value="Нова" ></option>
                <option value="Новгородська" ></option>
                <option value="Новий" ></option>
                <option value="Новогригорівська" ></option>
                <option value="Новокузнецька" ></option>
                <option value="Новомосковська" ></option>
                <option value="Новоросійська" ></option>
                <option value="Новоселів" ></option>
                <option value="Новочеркаська" ></option>
                <option value="Образцова" ></option>
                <option value="Оздоровчий" ></option>
                <option value="Озерна" ></option>
                <option value="Олександрівська" ></option>
                <option value="Олексіївська" ></option>
                <option value="Олени Теліги" ></option>
                <option value="Омельченко" ></option>
                <option value="Оріхівське Шосе" ></option>
                <option value="Орловська" ></option>
                <option value="Освітянська" ></option>
                <option value="Осіння" ></option>
                <option value="Осіпенко" ></option>
                <option value="Островського" ></option>
                <option value="Очаківська" ></option>
                <option value="п. Зенітний" ></option>
                <option value="п. Корабельний" ></option>
                <option value="п.Адигейській" ></option>
                <option value="п.Арбатський" ></option>
                <option value="п.Артіковський" ></option>
                <option value="п.Астрономічний" ></option>
                <option value="п.Бердянський" ></option>
                <option value="п.Брестський" ></option>
                <option value="п.Бугский" ></option>
                <option value="п.Будапештський" ></option>
                <option value="п.Буковинський" ></option>
                <option value="п.Вантажний" ></option>
                <option value="п.Варшавський" ></option>
                <option value="п.Весняний" ></option>
                <option value="п.Ветеранів" ></option>
                <option value="п.Вільний" ></option>
                <option value="п.Волоколамський" ></option>
                <option value="п.Волховський" ></option>
                <option value="п.Газетний" ></option>
                <option value="п.Глібова" ></option>
                <option value="п.Гомельський" ></option>
                <option value="п.Дагестанський" ></option>
                <option value="п.Дарніцкій" ></option>
                <option value="п.Двинський" ></option>
                <option value="п.Джерельний" ></option>
                <option value="п.Дорожній" ></option>
                <option value="п.Жигулівский" ></option>
                <option value="п.Зелений" ></option>
                <option value="п.Зерновий" ></option>
                <option value="п.Іжевський" ></option>
                <option value="п.Кавалерійський" ></option>
                <option value="п.Каширський" ></option>
                <option value="п.Кінцевий" ></option>
                <option value="п.Конотопський" ></option>
                <option value="п.Короткий" ></option>
                <option value="п.Косогірский" ></option>
                <option value="п.Крицевий" ></option>
                <option value="п.Криштальний" ></option>
                <option value="п.Лагерний" ></option>
                <option value="п.Лазурний" ></option>
                <option value="п.Льотний" ></option>
                <option value="П.Маленка" ></option>
                <option value="п.Маріупольський" ></option>
                <option value="п.Мелітопільський" ></option>
                <option value="п.Метеоритний" ></option>
                <option value="П.Мирного" ></option>
                <option value="п.Монтажний" ></option>
                <option value="п.Мостовий" ></option>
                <option value="п.Моторний" ></option>
                <option value="п.Недільний" ></option>
                <option value="п.Низовий" ></option>
                <option value="п.Пантоній" ></option>
                <option value="п.Печерський" ></option>
                <option value="п.Південний" ></option>
                <option value="п.Північний" ></option>
                <option value="п.Пісчаний" ></option>
                <option value="п.Прибрежний" ></option>
                <option value="п.Прямий" ></option>
                <option value="п.Ржевській" ></option>
                <option value="п.Рибальський" ></option>
                <option value="п.Родинний" ></option>
                <option value="п.Садовий" ></option>
                <option value="п.Світовий" ></option>
                <option value="п.Світодолинський" ></option>
                <option value="п.Січневий" ></option>
                <option value="п.Соляний" ></option>
                <option value="п.Стадіонний" ></option>
                <option value="п.Степовий" ></option>
                <option value="п.Текстильний" ></option>
                <option value="п.Теністий" ></option>
                <option value="п.Технічний" ></option>
                <option value="п.Томський" ></option>
                <option value="п.Торговий" ></option>
                <option value="п.Харківський" ></option>
                <option value="п.Широкий" ></option>
                <option value="п/лаг. «Комунар»" ></option>
                <option value="Павла Захаріна" ></option>
                <option value="Павлокічкаська" ></option>
                <option value="Памірська" ></option>
                <option value="Панаса Саксаганського" ></option>
                <option value="Панельна" ></option>
                <option value="Пантелеймона Куліша" ></option>
                <option value="Панфіловців" ></option>
                <option value="Панфьорова" ></option>
                <option value="Парамонова" ></option>
                <option value="Паризької Комуни" ></option>
                <option value="Паркова" ></option>
                <option value="Партизанська" ></option>
                <option value="Пархоменко" ></option>
                <option value="Паторжинського" ></option>
                <option value="Патріотична" ></option>
                <option value="Первомайська" ></option>
                <option value="Передаточна" ></option>
                <option value="Передова" ></option>
                <option value="Перемоги" ></option>
                <option value="Переможна" ></option>
                <option value="Перовська" ></option>
                <option value="Перспективна" ></option>
                <option value="Перша Ливарна" ></option>
                <option value="Першотравнева" ></option>
                <option value="Пестеля" ></option>
                <option value="Південе Шосе" ></option>
                <option value="Південна" ></option>
                <option value="Південно Українська" ></option>
                <option value="Північна" ></option>
                <option value="Підгірна" ></option>
                <option value="Підлісна" ></option>
                <option value="Піонерська" ></option>
                <option value="Пірогова" ></option>
                <option value="Пісарєва" ></option>
                <option value="Пісчана" ></option>
                <option value="Платова" ></option>
                <option value="Подільська" ></option>
                <option value="Пойденко" ></option>
                <option value="Поліклінічна" ></option>
                <option value="Поліська" ></option>
                <option value="Політаєва" ></option>
                <option value="Політкаторжаніна" ></option>
                <option value="Полтавська" ></option>
                <option value="Польова" ></option>
                <option value="Полякова" ></option>
                <option value="Полякова-Чарівна" ></option>
                <option value="Початкова" ></option>
                <option value="Поштова" ></option>
                <option value="Поштова/Фортечна" ></option>
                <option value="пр.Ювілейний" ></option>
                <option value="пр.Ювiлейний" ></option>
                <option value="Правди" ></option>
                <option value="Престижна" ></option>
                <option value="Прибрежна" ></option>
                <option value="Приватна" ></option>
                <option value="Привокзальна" ></option>
                <option value="Придніпровська" ></option>
                <option value="Придорожний" ></option>
                <option value="Приморовська" ></option>
                <option value="Природна" ></option>
                <option value="Приходська" ></option>
                <option value="Причальна" ></option>
                <option value="Прогресивна" ></option>
                <option value="Продольна" ></option>
                <option value="Пролетарська" ></option>
                <option value="Прудова" ></option>
                <option value="Пушкіна" ></option>
                <option value="Пшенична" ></option>
                <option value="Радгоспна" ></option>
                <option value="Радгоспна/Б.Поповка" ></option>
                <option value="Радіаторна" ></option>
                <option value="Радісна" ></option>
                <option value="Радіщева" ></option>
                <option value="Радіщева/Гризодубової" ></option>
                <option value="Радянська" ></option>
                <option value="Расказорва" ></option>
                <option value="Революційна" ></option>
                <option value="Рекордна" ></option>
                <option value="Республіканська" ></option>
                <option value="Рєпіна" ></option>
                <option value="Рильського" ></option>
                <option value="Річкова" ></option>
                <option value="Ровенська" ></option>
                <option value="Родинна" ></option>
                <option value="Рози" ></option>
                <option value="Рубана" ></option>
                <option value="Русіянова" ></option>
                <option value="Руставелі" ></option>
                <option value="Руставі" ></option>
                <option value="Руська" ></option>
                <option value="Рясна" ></option>
                <option value="с/т Механик" ></option>
                <option value="Сагайдачного" ></option>
                <option value="Садівництва" ></option>
                <option value="Садова" ></option>
                <option value="Самарська" ></option>
                <option value="Саперна" ></option>
                <option value="Сахалінська" ></option>
                <option value="Світла" ></option>
                <option value="Світлогірська" ></option>
                <option value="Святого Миколая" ></option>
                <option value="Семірєнко" ></option>
                <option value="Сенна" ></option>
                <option value="Серафимовича" ></option>
                <option value="Сергія Серікова" ></option>
                <option value="Середня" ></option>
                <option value="Сеченова" ></option>
                <option value="Сибірська" ></option>
                <option value="Сільська" ></option>
                <option value="Сімафорна" ></option>
                <option value="Сімфонічна" ></option>
                <option value="Складська" ></option>
                <option value="Сковороди" ></option>
                <option value="Слави" ></option>
                <option value="Славутича" ></option>
                <option value="Славянська" ></option>
                <option value="служ.порятунку" ></option>
                <option value="Соборний" ></option>
                <option value="Соборності" ></option>
                <option value="Солідарності" ></option>
                <option value="Сонячна" ></option>
                <option value="Союзна" ></option>
                <option value="Спартака Маковського" ></option>
                <option value="Спортивна" ></option>
                <option value="Стадіонна" ></option>
                <option value="Сталеварів" ></option>
                <option value="Стальського" ></option>
                <option value="Станціонна" ></option>
                <option value="Стасова" ></option>
                <option value="Степана Разіна" ></option>
                <option value="Степна" ></option>
                <option value="Степова" ></option>
                <option value="Стефанова" ></option>
                <option value="Стешенко" ></option>
                <option value="Столєтова" ></option>
                <option value="Суворова" ></option>
                <option value="Сурікова" ></option>
                <option value="Сусаніна" ></option>
                <option value="Суха" ></option>
                <option value="Східна" ></option>
                <option value="Счастлива" ></option>
                <option value="Т.Бульби" ></option>
                <option value="Таврійська" ></option>
                <option value="Таманська" ></option>
                <option value="Тамбовська" ></option>
                <option value="Танкістів" ></option>
                <option value="Тбіліська" ></option>
                <option value="Тенісна" ></option>
                <option value="Тепла" ></option>
                <option value="Теплова" ></option>
                <option value="Теплостроївська" ></option>
                <option value="Теплохідна" ></option>
                <option value="Тєрєшковой" ></option>
                <option value="Тимірязєва" ></option>
                <option value="Тимошенко" ></option>
                <option value="Тиха" ></option>
                <option value="Тихий" ></option>
                <option value="Тичини" ></option>
                <option value="Тіражна" ></option>
                <option value="Тітова" ></option>
                <option value="Товариська" ></option>
                <option value="Толбухіна" ></option>
                <option value="Торгова" ></option>
                <option value="Травнева" ></option>
                <option value="Траса Москва-Сімферополь" ></option>
                <option value="Трипільська" ></option>
                <option value="Тролейбусна" ></option>
                <option value="Тушинського" ></option>
                <option value="Тюленіна" ></option>
                <option value="Ударна" ></option>
                <option value="Ударників" ></option>
                <option value="Узбекістанська" ></option>
                <option value="Українська" ></option>
                <option value="Уманська" ></option>
                <option value="Уральська" ></option>
                <option value="Учнівська" ></option>
                <option value="Федьковича" ></option>
                <option value="Феросплавна" ></option>
                <option value="Фонтанна" ></option>
                <option value="Фортечна" ></option>
                <option value="Фрезерна" ></option>
                <option value="Фрунзе" ></option>
                <option value="Футбольна" ></option>
                <option value="Хакаська" ></option>
                <option value="Хасанська" ></option>
                <option value="Хворостяна" ></option>
                <option value="Хлібна" ></option>
                <option value="Хороводна" ></option>
                <option value="Хортицька" ></option>
                <option value="Хортицьке Шосе" ></option>
                <option value="Ценральна" ></option>
                <option value="Центральна" ></option>
                <option value="Цимлянська" ></option>
                <option value="Цитрусова" ></option>
                <option value="Ціолковського" ></option>
                <option value="Чайковського" ></option>
                <option value="Чапаева" ></option>
                <option value="Чапаєва" ></option>
                <option value="Чарівна" ></option>
                <option value="Челябінська" ></option>
                <option value="Червона" ></option>
                <option value="Червоноармійська" ></option>
                <option value="Червоногірська" ></option>
                <option value="Червоноградська" ></option>
                <option value="Червонозаводськая" ></option>
                <option value="Червонознаменна" ></option>
                <option value="Черепічна" ></option>
                <option value="Чернишевського" ></option>
                <option value="Чернігівська" ></option>
                <option value="Чехова" ></option>
                <option value="Чечеріна" ></option>
                <option value="Чєрнишевського" ></option>
                <option value="Читинська" ></option>
                <option value="Чкалова" ></option>
                <option value="Чудова" ></option>
                <option value="Шахтинський" ></option>
                <option value="Шевченка" ></option>
                <option value="Шевченко" ></option>
                <option value="Шевченко/Студентська" ></option>
                <option value="Шикунова" ></option>
                <option value="Широка" ></option>
                <option value="Шишкіна" ></option>
                <option value="Шкільна" ></option>
                <option value="ШНО" ></option>
                <option value="Шушенська" ></option>
                <option value="Щаслива" ></option>
                <option value="Юбілейна" ></option>
                <option value="Ювілейна" ></option>
                <option value="Юнатів" ></option>
                <option value="Яблунева" ></option>
                <option value="Яворницького" ></option>
                <option value="Ялинкова" ></option>
                <option value="Янтарная" ></option>
                <option value="Ясна" ></option>
                <option value="Яценко" ></option>
                
            </datalist>
        </div>

        <div class="numberOfBuilding" ><p>Введіть номер будинку:</p> 
            <label for="numberOfBuilding" ></label>
            <input name="numberOfBuilding" type="text" id="numberOfBuilding" list="bud"  placeholder="85а" required disabled onchange="notActive()" onkeyup="activButtonSubmit()"/>
        </div>

        <hr>

       <div class="button">
            <input type="submit" value="Надіслати" id="buttonSubmit" disabled onkeyup="activButtonSubmit()" onclick="check()" >
       </div>
        
        
        </form>
    <script src="./script/script.js"></script>
</body>
</html>